<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/style/list.css">
    <link rel="icon" href="../public/img/image 1.jpg" type="jpg">
    <title>List Car</title>
</head>
<body>
    <div class="container">
        <d class="grid">
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>

            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>

            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
            <article>
                <img src="../public/img/image 1.jpg" alt="">
                <div class="text g-col-6">
                    <h3>Nama/Tipe Mobil</h3>
                    <h2>RP 430.000 / hari</h2>
                    <p><i class='bx bx-key'></i>Start rent - Finish rent</p>
                    <p><i class='bx bx-time-five'></i>Updated at 4 Apr 2022, 09.00</p>
                    <button><i class='bx bx-trash-alt'></i>Delete</button>
                    <button><i class='bx bx-edit'></i>Edit</button>
                </div>
            </article>
        </div>
    </div>
</body>
</html>